{{#if this.showFirstAndLast}}
  <a class="pagination-links-first {{if this.firstDisabled 'disabled'}}" {{action "goToPage" 1}}>{{this.firstPageIcon}}</a>
{{/if}}

<a class="pagination-links-prev {{if this.prevDisabled 'disabled'}}" {{action "goToPrevPage"}}>{{this.prevPageIcon}}</a>

{{#if this.showFirstEllipsis}}
  <span class="pagination-links-ellipsis">{{this.ellipsisIcon}}</span>
{{/if}}

{{#each this.pagesBeforeCurrent as |page|}}
  <a class="pagination-links-page" {{action "goToPage" page}}>{{page}}</a>
{{/each}}

<a class="pagination-links-current">{{this.currentPage}}</a>

{{#each this.pagesAfterCurrent as |page|}}
  <a class="pagination-links-page" {{action "goToPage" page}}>{{page}}</a>
{{/each}}

{{#if this.showLastEllipsis}}
  <span class="pagination-links-ellipsis">{{this.ellipsisIcon}}</span>
{{/if}}

<a class="pagination-links-next {{if this.nextDisabled 'disabled'}}" {{action "goToNextPage"}}>{{this.nextPageIcon}}</a>

{{#if this.showFirstAndLast}}
  <a class="pagination-links-last {{if this.lastDisabled 'disabled'}}" {{action "goToPage" this.lastPage}}>{{this.lastPageIcon}}</a>
{{/if}}
